In [1]:
import pandas as pd
sales = pd.read_csv("sales_subset.csv")

In [2]:
# 1. Print the head of the sales DataFrame
print(sales.head())

# Print the info about the sales DataFrame
print(sales.info())

# Print the mean of weekly_sales
print(sales["weekly_sales"].mean())

# Print the median of weekly_sales
print(sales["weekly_sales"].median())

   Unnamed: 0  store type  department        date  weekly_sales  is_holiday  \
0           0      1    A           1  2010-02-05      24924.50       False
1           1      1    A           1  2010-03-05      21827.90       False
2           2      1    A           1  2010-04-02      57258.43       False
3           3      1    A           1  2010-05-07      17413.94       False
4           4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 10 columns):
Unnamed: 0              10774 non-null int64
store                   10774 non-null int64
type                    10774 non-null object
department              10774 non-null int64
date                    10774 non-null object
weekly_sales            10774 non-null float64
is_holiday              10774 non-null bool
temperature_c           10774 non-null float64
fuel_price_usd_per_l    10774 non-null float64
unemployment            10774 non-null float64
dtypes: bool(1), float64(4), int64(3), object(2)
memory usage: 768.1+ KB
None
23843.950148505668
12049.064999999999

In [3]:
# 2. Summarizing dates
# Print the maximum of the date column
print(sales["date"].max())

# Print the minimum of the date column
print(sales["date"].min())

2012-10-26
2010-02-05

In [4]:
# 3. Import NumPy and create custom IQR function
# use DF.agg(function)
import numpy as np
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr, np.median]))

        temperature_c  fuel_price_usd_per_l  unemployment
iqr         16.583333              0.073176         0.565
median      16.966667              0.743381         8.099

In [6]:
# 4. Cumulative statistics
# introduct Cumulative
# df.sort_value("data",)
# df.cumsum(), .cummax(), .cummin(), cumprod()
# Sort sales_1_1 by date
sales_1_1 = sales
sales_1_1 = sales_1_1.sort_values("date")

# Get the cumulative sum of weekly_sales, add as cum_weekly_sales col
sales_1_1["cum_weekly_sales"] = sales_1_1["weekly_sales"].cumsum()

# Get the cumulative max of weekly_sales, add as cum_max_sales col
sales_1_1["cum_max_sales"] = sales_1_1["weekly_sales"].cummax()

# See the columns you calculated
print(sales_1_1[["date", "weekly_sales", "cum_weekly_sales", "cum_max_sales"]])

             date  weekly_sales  cum_weekly_sales  cum_max_sales
0      2010-02-05      24924.50      2.492450e+04       24924.50
6437   2010-02-05      38597.52      6.352202e+04       38597.52
1249   2010-02-05       3840.21      6.736223e+04       38597.52
6449   2010-02-05      17590.59      8.495282e+04       38597.52
6461   2010-02-05       4929.87      8.988269e+04       38597.52
6473   2010-02-05      20578.79      1.104615e+05       38597.52
6485   2010-02-05       3953.70      1.144152e+05       38597.52
1237   2010-02-05       6916.00      1.213312e+05       38597.52
6425   2010-02-05       5089.54      1.264207e+05       38597.52
6506   2010-02-05       6261.35      1.326821e+05       38597.52
1225   2010-02-05      10322.43      1.430045e+05       38597.52
6530   2010-02-05      12478.00      1.554825e+05       38597.52
6542   2010-02-05      25160.36      1.806429e+05       38597.52
6566   2010-02-05      10577.70      1.912206e+05       38597.52
1213   2010-02-05       1592.41      1.928130e+05       38597.52
6578   2010-02-05       7043.39      1.998564e+05       38597.52
6590   2010-02-05       3303.98      2.031603e+05       38597.52
6518   2010-02-05       7638.42      2.107988e+05       38597.52
6602   2010-02-05       1232.07      2.120308e+05       38597.52
6413   2010-02-05      21710.43      2.337413e+05       38597.52
6401   2010-02-05      24525.54      2.582668e+05       38597.52
1309   2010-02-05        975.50      2.592423e+05       38597.52
6237   2010-02-05     213042.66      4.722850e+05      213042.66
6258   2010-02-05      45017.96      5.173029e+05      213042.66
6270   2010-02-05      24273.74      5.415767e+05      213042.66
1297   2010-02-05       4216.00      5.457927e+05      213042.66
6293   2010-02-05      21500.58      5.672932e+05      213042.66
6305   2010-02-05      52144.50      6.194377e+05      213042.66
1261   2010-02-05      17212.26      6.366500e+05      213042.66
6317   2010-02-05      18215.03      6.548650e+05      213042.66
...           ...           ...               ...            ...
3591   2012-07-13          0.07      2.568869e+08      293966.05
9007   2012-07-13          0.06      2.568869e+08      293966.05
8071   2012-07-20         80.96      2.568870e+08      293966.05
1594   2012-07-27          6.00      2.568870e+08      293966.05
5016   2012-08-10        -98.00      2.568869e+08      293966.05
6256   2012-08-10          6.39      2.568869e+08      293966.05
7905   2012-08-17       -175.00      2.568867e+08      293966.05
7725   2012-08-24        -34.00      2.568867e+08      293966.05
8630   2012-08-24          0.00      2.568867e+08      293966.05
6734   2012-08-31          4.47      2.568867e+08      293966.05
10568  2012-08-31         14.96      2.568867e+08      293966.05
8072   2012-09-07         -8.97      2.568867e+08      293966.05
6735   2012-09-07         13.41      2.568867e+08      293966.05
3223   2012-09-21        389.00      2.568871e+08      293966.05
525    2012-09-28        224.00      2.568873e+08      293966.05
8073   2012-10-05         18.89      2.568874e+08      293966.05
2698   2012-10-05        490.00      2.568878e+08      293966.05
900    2012-10-05        635.00      2.568885e+08      293966.05
7198   2012-10-05        870.00      2.568894e+08      293966.05
6816   2012-10-05        448.00      2.568898e+08      293966.05
6736   2012-10-05         13.41      2.568898e+08      293966.05
9008   2012-10-05        435.00      2.568902e+08      293966.05
6292   2012-10-05        750.00      2.568910e+08      293966.05
5407   2012-10-05       1130.00      2.568921e+08      293966.05
1797   2012-10-05        595.00      2.568927e+08      293966.05
3592   2012-10-05        440.00      2.568932e+08      293966.05
8108   2012-10-05        660.00      2.568938e+08      293966.05
10773  2012-10-05        915.00      2.568947e+08      293966.05
6257   2012-10-12          3.00      2.568947e+08      293966.05
3384   2012-10-26        -21.63      2.568947e+08      293966.05

[10774 rows x 4 columns]

Counting
1. DataFrame.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
Return DataFrame with duplicate rows removed.
2. DataFrame.value_counts(subset=None, normalize=False, sort=True, ascending=False)
Return a Series containing counts of unique rows in the DataFrame.

In [7]:
# 5. Dropping duplicates
# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset=["store", "type"])
print(store_types.head())

# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset=["store", "department"])
print(store_depts.head())

# Subset the rows where is_holiday is True and drop duplicate dates
holiday_dates = sales[sales["is_holiday"]].drop_duplicates(subset=['date'])

# Print date col of holiday_dates
print(holiday_dates)

      Unnamed: 0  store type  department        date  weekly_sales  \
0              0      1    A           1  2010-02-05      24924.50
901          901      2    A           1  2010-02-05      35034.06
1798        1798      4    A           1  2010-02-05      38724.42
2699        2699      6    A           1  2010-02-05      25619.00
3593        3593     10    B           1  2010-02-05      40212.84

      is_holiday  temperature_c  fuel_price_usd_per_l  unemployment
0          False       5.727778              0.679451         8.106
901        False       4.550000              0.679451         8.324
1798       False       6.533333              0.686319         8.623
2699       False       4.683333              0.679451         7.259
3593       False      12.411111              0.782478         9.765
    Unnamed: 0  store type  department        date  weekly_sales  is_holiday  \
0            0      1    A           1  2010-02-05      24924.50       False
12          12      1    A           2  2010-02-05      50605.27       False
24          24      1    A           3  2010-02-05      13740.12       False
36          36      1    A           4  2010-02-05      39954.04       False
48          48      1    A           5  2010-02-05      32229.38       False

    temperature_c  fuel_price_usd_per_l  unemployment
0        5.727778              0.679451         8.106
12       5.727778              0.679451         8.106
24       5.727778              0.679451         8.106
36       5.727778              0.679451         8.106
48       5.727778              0.679451         8.106
      Unnamed: 0  store type  department        date  weekly_sales  \
498          498      1    A          45  2010-09-10         11.47
691          691      1    A          77  2011-11-25       1431.00
2315        2315      4    A          47  2010-02-12        498.00
6735        6735     19    A          39  2012-09-07         13.41
6810        6810     19    A          47  2010-12-31       -449.00
6815        6815     19    A          47  2012-02-10         15.00
6820        6820     19    A          48  2011-09-09        197.00

      is_holiday  temperature_c  fuel_price_usd_per_l  unemployment
498         True      25.938889              0.677602         7.787
691         True      15.633333              0.854861         7.866
2315        True      -1.755556              0.679715         8.623
6735        True      22.333333              1.076766         8.193
6810        True      -1.861111              0.881278         8.067
6815        True       0.338889              1.010723         7.943
6820        True      20.155556              1.038197         7.806

In [8]:
# 6. Counting categorical variables
# Count the number of stores of each type
store_counts = store_types["type"].value_counts()
print(store_counts)

# Get the proportion of stores of each type
store_props = store_types["type"].value_counts(normalize=True)
print(store_props)

# Count the number of each department number and sort
dept_counts_sorted = store_depts["department"].value_counts(sort=True)
print(dept_counts_sorted)

# Get the proportion of departments of each number and sort
dept_props_sorted = store_depts["department"].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

A    11
B     1
Name: type, dtype: int64
A    0.916667
B    0.083333
Name: type, dtype: float64
41    12
30    12
23    12
24    12
25    12
26    12
27    12
28    12
29    12
31    12
21    12
32    12
33    12
34    12
35    12
36    12
38    12
40    12
22    12
20    12
42    12
9     12
2     12
3     12
4     12
5     12
6     12
7     12
8     12
10    12
      ..
82    12
83    12
85    12
87    12
90    12
91    12
67    12
60    12
59    12
58    12
56    12
55    12
54    12
52    12
51    12
94    12
49    12
95    12
47    12
46    12
96    12
45    12
97    12
92    12
99    11
37    10
48     8
50     6
39     4
43     2
Name: department, Length: 80, dtype: int64
41    0.012917
30    0.012917
23    0.012917
24    0.012917
25    0.012917
26    0.012917
27    0.012917
28    0.012917
29    0.012917
31    0.012917
21    0.012917
32    0.012917
33    0.012917
34    0.012917
35    0.012917
36    0.012917
38    0.012917
40    0.012917
22    0.012917
20    0.012917
42    0.012917
9     0.012917
2     0.012917
3     0.012917
4     0.012917
5     0.012917
6     0.012917
7     0.012917
8     0.012917
10    0.012917
        ...
82    0.012917
83    0.012917
85    0.012917
87    0.012917
90    0.012917
91    0.012917
67    0.012917
60    0.012917
59    0.012917
58    0.012917
56    0.012917
55    0.012917
54    0.012917
52    0.012917
51    0.012917
94    0.012917
49    0.012917
95    0.012917
47    0.012917
46    0.012917
96    0.012917
45    0.012917
97    0.012917
92    0.012917
99    0.011841
37    0.010764
48    0.008611
50    0.006459
39    0.004306
43    0.002153
Name: department, Length: 80, dtype: float64

重新分組
DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=<object object>, observed=False, dropna=True)
Group DataFrame using a mapper or by a Series of columns.

In [9]:
# 7. What percent of sales occurred at each store type?
# Calc total weekly sales
sales_all = sales["weekly_sales"].sum()

# Subset for type A stores, calc total weekly sales
sales_A = sales[sales["type"] == "A"]["weekly_sales"].sum()

# Subset for type B stores, calc total weekly sales
sales_B = sales[sales["type"] == "B"]["weekly_sales"].sum()

# Subset for type C stores, calc total weekly sales
sales_C = sales[sales["type"] == "C"]["weekly_sales"].sum()

# Get proportion for each type
sales_propn_by_type = [sales_A, sales_B, sales_C] / sales_all
print(sales_propn_by_type)

[0.9097747 0.0902253 0.       ]

In [10]:
# 8. Calculations with .groupby()
# Group by type; calc total weekly sales
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

# Get proportion for each type
sales_propn_by_type = sales_by_type / sum(sales_by_type)
print(sales_propn_by_type)

# From previous step
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

# Group by type and is_holiday; calc total weekly sales
sales_by_type_is_holiday = sales.groupby(["type", "is_holiday"])["weekly_sales"].sum()
print(sales_by_type_is_holiday)

type
A    0.909775
B    0.090225
Name: weekly_sales, dtype: float64
type  is_holiday
A     False         2.336927e+08
      True          2.360181e+04
B     False         2.317678e+07
      True          1.621410e+03
Name: weekly_sales, dtype: float64

In [11]:
# 9. Multiple grouped summaries

# Import numpy with the alias np
import numpy as np

# For each store type, aggregate weekly_sales: get min, max, mean, and median
sales_stats = sales.groupby("type")["weekly_sales"].agg([np.min, np.max, np.mean, np.median])

# Print sales_stats
print(sales_stats)

# For each store type, aggregate unemployment and fuel_price_usd_per_l: get min, max, mean, and median
unemp_fuel_stats = sales.groupby("type")["unemployment", "fuel_price_usd_per_l"].agg([np.min, np.max, np.mean, np.median])

# Print unemp_fuel_stats
print(unemp_fuel_stats)

        amin       amax          mean    median
type
A    -1098.0  293966.05  23674.667242  11943.92
B     -798.0  232558.51  25696.678370  13336.08
     unemployment                         fuel_price_usd_per_l            \
             amin   amax      mean median                 amin      amax
type
A           3.879  8.992  7.972611  8.067             0.664129  1.107410
B           7.170  9.765  9.279323  9.199             0.760023  1.107674


          mean    median
type
A     0.744619  0.735455
B     0.805858  0.803348

Pivot tables
DataFrame.pivot_table(values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False)
Create a spreadsheet-style pivot table as a DataFrame.

In [12]:
# 10. Pivoting on one variable
# vThat is, the .pivot_table() method is just an alternative to .groupby()
# Pivot for mean weekly_sales for each store type
mean_sales_by_type = sales.pivot_table(values="weekly_sales", index="type")

# Print mean_sales_by_type
print(mean_sales_by_type)

# Import NumPy as np
import numpy as np

# Pivot for mean and median weekly_sales for each store type
mean_med_sales_by_type = sales.pivot_table(values="weekly_sales", index="type", aggfunc=[np.mean, np.median])

# Print mean_med_sales_by_type
print(mean_med_sales_by_type)

# Pivot for mean weekly_sales by store type and holiday 
mean_sales_by_type_holiday = sales.pivot_table(values='weekly_sales', index='type', columns='is_holiday')

# Print mean_sales_by_type_holiday
print(mean_sales_by_type_holiday)

      weekly_sales
type
A     23674.667242
B     25696.678370
              mean       median
      weekly_sales weekly_sales
type
A     23674.667242     11943.92
B     25696.678370     13336.08
is_holiday         False      True
type
A           23768.583523  590.04525
B           25751.980533  810.70500

In [13]:
# 11. Fill in missing values and sum values with pivot tables
# useful arguments, including 
# fill_value and margins.
# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
print(sales.pivot_table(values='weekly_sales', index='department', columns='type', fill_value=0, margins=sum))

type                    A              B            All
department
1            30961.725379   44050.626667   32052.467153
2            67600.158788  112958.526667   71380.022778
3            17160.002955   30580.655000   18278.390625
4            44285.399091   51219.654167   44863.253681
5            34821.011364   63236.875000   37189.000000
6             7136.292652   10717.297500    7434.709722
7            38454.336818   52909.653333   39658.946528
8            48583.475303   90733.753333   52095.998472
9            30120.449924   66679.301667   33167.020903
10           30930.456364   48595.126667   32402.512222
11           23028.312727   35488.429167   24066.655764
12            6786.840606    9656.520000    7025.980556
13           51398.168561   67213.587500   52716.120139
14           22457.695303   40400.020000   23952.889028
16           25202.751894   29558.182500   25565.704444
17           16167.586136   27675.351667   17126.566597
18           12201.771212   17361.347500   12631.735903
19            1560.951719    3365.895000    1715.661143
20            8312.070227   16191.810000    8968.715208
21            9324.387197   10368.968333    9411.435625
22           14225.324167   26044.797500   15210.280278
23           29350.745076   63960.273333   32234.872431
24            8204.587576   15376.829167    8802.274375
25           13382.164242   20619.285000   13985.257639
26           11254.311212   17535.457500   11777.740069
27            2079.160455    4553.720833    2285.373819
28             968.247348    1422.762500    1006.123611
29            6859.108485   14999.843333    7537.503056
30            5403.619773   12442.080000    5990.158125
31            3221.001818    6151.995000    3465.251250
...                   ...            ...            ...
54             221.288030     551.016667     248.765417
55           15368.005985   20420.726667   15789.066042
56            5529.171136     992.310000    5151.099375
58            6510.454621    5156.833333    6397.652847
59            1358.490530    2536.538333    1456.661181
60             461.176591     577.850000     470.899375
67           12064.737500   13327.714167   12169.985556
71            7486.394318   15945.855000    8191.349375
72           72767.860227  145237.726667   78807.015764
74           22097.090152   44480.321667   23962.359444
77             370.651316    1590.000000     401.916667
78               8.893878       1.714286       7.996429
79           40643.113106   39802.038333   40573.023542
80           22425.941667     116.680000   20566.836528
81           28417.831061   11084.591667   26973.394444
82           21698.068561   21943.495833   21718.520833
83            7020.960985     327.011667    6463.131875
85            3593.235379    2887.316667    3534.408819
87           22549.672045   21829.132500   22489.627083
90           85776.905909   14780.210000   79860.514583
91           70423.165227   13199.602500   65654.535000
92          139722.204773   50859.278333  132316.960903
93           53413.633939    1466.274167   49084.687292
94           60081.155303     161.445833   55087.846181
95          123933.787121   77082.102500  120029.480069
96           21367.042857    9528.538333   20337.607681
97           28471.266970    5828.873333   26584.400833
98           12875.423182     217.428333   11820.590278
99             379.123659       0.000000     379.123659
All          23674.667242   25696.678370   23843.950149

[81 rows x 3 columns]